<body style= "background-color: white">
<% content_for :nav, render('shared/navbar_home') %>



<div class="home-banner ">

<p class="home-text"> Nous sommes un cabinet doté d’un savoir-faire international et d’un réseau mondial.<br/>
Nous vous accompagnons dans les domaines du droit et de la fiscalité. <br/>

GGV vous propose  des compétences pointues, une orientation stratégique et, le plus important : <br/>

Un engagement constant à vos côtés.</p>

</div>


<section class="parallax">
<p class="home-text"> Nous sommes un cabinet doté d’un savoir-faire international et d’un réseau mondial.<br/>
Nous vous accompagnons dans les domaines du droit et de la fiscalité. <br/>

GGV vous propose  des compétences pointues, une orientation stratégique et, le plus important : <br/>

Un engagement constant à vos côtés.</p>


</section>




<section class="parallax">
<p class="home-text"> Nous sommes un cabinet doté d’un savoir-faire international et d’un réseau mondial.<br/>
Nous vous accompagnons dans les domaines du droit et de la fiscalité. <br/>

GGV vous propose  des compétences pointues, une orientation stratégique et, le plus important : <br/>

Un engagement constant à vos côtés.</p>


</section>
<div class="container lawyers">
  <h1>Nos collaborateurs</h1>
  <div class="row">

    <% if @lawyers %>
    <% @lawyers.each do |lawyer| %>
    <div class="col-xs-6 col-sm-3 lawyer-parade">

    <a href="<%= lawyer_url(lawyer) %>" >

               <%= cl_image_tag lawyer.picture, class:"avatar-large"%>
    </a>
              <p><%= "#{lawyer.first_name}"+ " "+ "#{lawyer.last_name}"%></p>




              </div>

      <% end %>
      <% end %>
    </div>
  </div>



  </div>


<%= link_to "Créer un avocat", new_lawyer_path, class: "btn btn-success" %>


</div>

</body>
