<body style= "background-color: white">
<% content_for :nav, render('shared/navbar_home') %>



<div class="home-banner">



</div>

<div class="container presentation">

  <p>We are a firm with international expertise and a global network.</p>
  <p>We support you in the fields of law and taxation</p>
  </p>
  <p>GGV offers you advanced skills, strategic direction and, most importantly:</p>

  <p>A constant commitment at your side.</p>

</div>
</body>

