<body style= "background-color: white">
<% content_for :nav, render('shared/navbar_home') %>



<div class="home-banner">



</div>

<div class="container presentation">
  <p>Nous sommes un cabinet doté d’un savoir-faire international et d’un réseau mondial.
  <p>Nous vous accompagnons dans les domaines du droit et de la fiscalité</p>
  </p>
  <p>GGV vous propose  des compétences pointues, une orientation stratégique et, le plus important :</p>

  <p>Un engagement constant à vos côtés.</p>
</div>
</body>
