

<body style= "background-color: white">
<% content_for :nav, render('shared/navbar_home') %>



<div class="home-banner ">

<p class="home-text"> <p>Wir sind ein Unternehmen mit internationaler Expertise und einem globalen Netzwerk.</p>
  <p>Wir unterstützen Sie in den Bereichen Recht und Steuern.</p>
  </p>
  <p>GGV bietet Ihnen fortgeschrittene Fähigkeiten, strategische Ausrichtung und vor allem:</p>

  <p>Ein ständiges Engagement an Ihrer Seite.</p>

</div>
