

<body style= "background-color: white">
<% content_for :nav, render('shared/navbar_home') %>



<div class="home-banner ">

<p class="home-text"> <p>Wir sind ein Unternehmen mit internationaler Expertise und einem globalen Netzwerk.</p>
  <p>Wir unterstützen Sie in den Bereichen Recht und Steuern.</p>
  </p>
  <p>GGV bietet Ihnen fortgeschrittene Fähigkeiten, strategische Ausrichtung und vor allem:</p>

  <p>Ein ständiges Engagement an Ihrer Seite.</p>

</div>

<div class="container lawyers">
  <h1>Nos collaborateurs</h1>
  <div class="row">

    <% if @lawyers %>
    <% @lawyers.each do |lawyer| %>
    <div class="col-xs-6 col-sm-3 lawyer-parade">

    <a href="<%= lawyer_url(lawyer) %>" >

               <%= cl_image_tag lawyer.picture, class:"avatar-large"%>
    </a>
              <p><%= "#{lawyer.first_name}"+ " "+ "#{lawyer.last_name}"%></p>




              </div>

      <% end %>
      <% end %>
    </div>
  </div>



  </div>


<%= link_to "Créer un avocat", new_lawyer_path, class: "btn btn-success" %>

