

.home-banner {
  background-image: linear-gradient(-225deg,
    rgba(0,101,168,0.4) 0%,
    rgba(0,36,61,0.5) 50%),asset-url('seine.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 40vh;
  height: 100vh;
  color: white;
  text-align: center;
  /* Pour parallax simple */
  background-attachment: fixed;

}

@media screen and (max-width: 1030px) {
  .home-banner {
    background-attachment: scroll;
  }
}


.lawyers-banner {
  background: linear-gradient(-225deg,
    rgba(0,101,168,0.5) 0%,
    rgba(0,36,61,0.5) 50%),asset-url('equipe.jpg');
  background-size: cover;
  background-position: left 75% bottom 100%;
  height: 70vh;
  color: white;
  text-align: center;
  padding-top: 40vh;
}


.news-banner {
  background: linear-gradient(-225deg,
    rgba(0,101,168,0.5) 0%,
    rgba(0,36,61,0.5) 50%),asset-url('map.jpg');
  background-size: cover;
  background-position: left 75% bottom 100%;
  height: 70vh;
  color: white;
  text-align: center;
  padding-top: 40vh;
}

.home-text{
 color:rgb(255, 255, 255);
 font-family: raleway;
 line-height: 2em;
 font-size: 21px;


}

.home-text span {
font-weight: bold;
font-size: 23px;
}
