


 .dropdown-menu{
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: "Open sans";
  font-size: 14px;
  line-height: 2em;
}

.dropdown-menu li a {
  color: #E6E6E6FF;
}

.dropdown-menu li a:hover{
  color: #CCCCCCFF;
  background-color: transparent;
}


.dropdown-item{
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
}

.dropdown-toggle {
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: "Open sans";
  font-size: 14px;
}


.dropdown {
  color: #E6E6E6FF;
}

